AuthType Basic
AuthName "Protected Access"
AuthUserFile /var/www/oyster-passwd
<Files browse.py>
	Require valid-user
</Files>
<Files blacklist.py>
require valid-user
</Files>
<Files clearscores.py>
require valid-user
</Files>
<Files common.py>
require valid-user
</Files>
<Files configcheck.py>
require valid-user
</Files>
<Files configedit.py>
require valid-user
</Files>
<Files config.py>
require valid-user
</Files>
<Files control.py>
require valid-user
</Files>
<Files editplaylist.py>
require valid-user
</Files>
<Files extras.py>
require valid-user
</Files>
<Files fifocontrol.py>
require valid-user
</Files>
<Files fileinfo.py>
require valid-user
</Files>
<Files gstreamer.py>
require valid-user
</Files>
<Files history.py>
require valid-user
</Files>
<Files index.py>
require valid-user
</Files>
<Files lastfm.py>
require valid-user
</Files>
<Files lyrics.py>
require valid-user
</Files>
<Files oysterconfig.py>
require valid-user
</Files>
<Files oyster-gui.py>
require valid-user
</Files>
<Files oyster.py>
require valid-user
</Files>
<Files playlists.py>
require valid-user
</Files>
<Files rebuildtags.py>
require valid-user
</Files>
<Files score.py>
require valid-user
</Files>
<Files search.py>
require valid-user
</Files>
<Files similar.py>
require valid-user
</Files>
<Files statistics.py>
require valid-user
</Files>
<Files taginfo.py>
require valid-user
</Files>
<Files viewlist.py>
require valid-user
</Files>
