# basedir tells oyster where it should put its dynamic files,
# the FIFOs it needs and the log and infofile.
basedir=/tmp/oyster/
# savedir tells oyster where to save files that it needs for 
# more than one session, for example the votes you did and
# the playlists you save
savedir=/var/www/oyster/
# mediadir is where your files are. ;)
# oyster will search your files under this directory and build a 
# default playlist from these.
mediadir=/data/media/Musik/
# please specify the encoding which is used to display your filenames
# most likely this is utf-8 or iso-8859-1
encoding=utf-8
# theme specifies the chosen theme
theme=default
# maxscored sets the maximum number of saved votes
# (oyster chooses songs at random from this list)
maxscored=30
# voteplay sets the probability in percent that one of the
# files from lastvotes is played.
voteplay=10
# coverfilenames is a comma-seperated list, which lists
# all possible names for album-covers relative to the album.
# Use ${album} to reference in filenames and ${albumus} if
# you like to use underscores instead of whitespaces
coverfilenames=../${album}.png,../${album}.jpg
# coverwidth is the width of the cover displayed in
# File Information
coverwidth=150
# shall oyster use hooks or shall it ignore them?
# use_hooks=true for using them
use_hooks=false

# suffixes of files oyster should play
filetypes=ogg,mp3
# player for filetypes
ogg=/usr/bin/ogg123
mp3=/usr/bin/mpg321

# mode of the $basedir/control file (4 digits!)
control_mode=0600

# how many files oyster shows in advance
len_nextfiles=5

# please specify the encoding which is used to display your filenames
# most likely this is utf-8 or iso-8859-1
encoding=utf-8

# since tags of mp3 files do not have any information about the charset used,
# you need to specify $LANG which should be used.
# Examples are en_US.UTF-8 or de_DE@euro
tagencoding=de_DE.UTF-8

# oyster's left frame refreshes every 30 seconds. If you want to change
# the delay, edit this value
refresh=30

# If you want to reset your mixer, just click on the volume-link
# in the control center. midvolume specifies the value to which
# the mixer is reset
midvolume=50

# Volume setting. Up and down commands are called as they are,
# the set command is given an additional parameter. (volume percentage, range:
# 1 to 100)
vol_down_cmd=/usr/bin/aumix -w -5
vol_up_cmd=/usr/bin/aumix -w +5
vol_set_cmd=/usr/bin/aumix -w 
vol_get_cmd=/usr/bin/aumix -w q
vol_filter_regexp=pcm ([0-9]{1,3}),
#vol_get_cmd=/usr/bin/setmixer -V 
#vol_filter_regexp=vol - ([0-9]{1,3}),
#vol_down_cmd="/usr/bin/setmixer vol -5"
#vol_up_cmd="/usr/bin/setmixer vol +5"
#vol_set_cmd="/usr/bin/setmixer vol "
