# basedir tells oyster where it should put its dynamic files,
# its the FIFOs it needs and the log and infofile.
basedir=/tmp/oyster/
# savedir tells oyster where to save files that it needs for 
# more than one session, for example the votes you did and
# the playlists you save
savedir=/var/www/oyster/
# mediadir is where your files are. ;)
# If you don't give oyster a playlist in the commandline, 
# it will search your files under this directory and build a 
# default playlist from these.
mediadir=/Multimedia/Audio/
# theme specifies the chosen theme
theme=default
# maxlastvotes sets the maximum number of saved votes
# (oyster chooses songs at random from this list)
maxscored=30
# voteplay sets the probability in percent that one of the
# files from lastvotes is played.
voteplay=10
# coverfilenames is a comma-seperated list, which lists
# all possible names for album-covers relative to the album.
# Use ${album} to reference in filenames and ${albumus} if
# you like to use underscores instead of whitespaces
coverfilenames=../${album}.png,../${album}.jpg
