# basedir tells oyster where it should put its dynamic files,
# the FIFOs it needs and the log and infofile.
basedir=/tmp/oyster/
# savedir tells oyster where to save files that it needs for 
# more than one session, for example the votes you did and
# the playlists you save
savedir=/var/www/oyster/
# mediadir is where your files are. ;)
# oyster will search your files under this directory and build a 
# default playlist from these.
mediadir=/Multimedia/Audio/
# please specify the encoding which is used to display your filenames
# most likely this is utf-8 or iso-8859-1
encoding=utf-8
# theme specifies the chosen theme
theme=default
# maxscored sets the maximum number of saved votes
# (oyster chooses songs at random from this list)
maxscored=30
# voteplay sets the probability in percent that one of the
# files from lastvotes is played.
voteplay=10
# coverfilenames is a comma-seperated list, which lists
# all possible names for album-covers relative to the album.
# Use ${album} to reference in filenames and ${albumus} if
# you like to use underscores instead of whitespaces
coverfilenames=../${album}.png,../${album}.jpg
# coverwidth is the width of the cover displayed in
# File Information
coverwidth=150
# shall oyster use hooks or shall it ignore them?
# use_hooks=true for using them
use_hooks=false

# suffixes of files oyster should play
filetypes=ogg,mp3
# player for filetypes
ogg=/usr/bin/ogg123
mp3=/usr/bin/mpg321

# mode of the $basedir/control file (4 digits!)
control_mode=0600

# how many files oyster shows in advance
len_nextfiles=5

# please specify the encoding which is used to display your filenames
# most likely this is utf-8 or iso-8859-1
encoding=utf-8
