body {
  background-color: #EEE;
  color: #444;
}

a { 
  color: #7f088f;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: #42004b;
}

a.dir {
  color: #08c0e0;
}

a.dir2 {
  color: #1080A0;
}

a.file2 {
  color: #f07200;
}

a.file {
  color: #ff8800;
}

a.playlist {
  color: #ff7700;
}

a.playlist2 {
  color: #ff5500;
}

b.dir {
  color: #08c0e0;;
}

b.dir2 {
  color: #1080A0;
}

h1 {
	font-size: 1.5em;
	color: #DDD;
}

h1 a {
	color: #DDD;
}

h1 a:hover {
	color: #AAA;
}

h2 {
	font-size: 1.3em;
	color: #DDD;
}

span.blacklisted {
  color: #FF0000;
  font-weight: bold;
}

.file {
  color: #f07200;
  font-weight: bold;
}

.file2 {
  color: #ff8800;
  font-weight: bold;
}

input {
  background-color: #CCC;
  color: #444;
  border-color:#000000;
}

select {
  background-color: #ccc;
  color: #444;
  border-color:#000000;
}

td.fileinfo {
  padding-top:10px;
  padding-bottom:10px;
}

td.fileinfoimage {
  text-align:right;
  padding-left:10px; 
  padding-right:0px; 
  padding-top:0px;
}

table#playlists {
	margin-bottom: 2em;
}

td.playlists {
  text-align: center;
}

span.emptylist {
	font-style: italic;
}

p.configdescription {
  width: 30em;
  margin-bottom: 2em;
}

img {
	border: 0
}

table#scoretable {
	width: 100%;
}

table#scoretable th {
	color: #DDD;
	font-size: larger;
	padding-bottom: 1em;
}

table.statistictable {
	width: 100%;
}

table.statistictable th {
	color: #DDD;
	font-size: larger;
	padding-bottom: 1em;
	text-align: left;
}

td.configok {
    color: #000000;
    background: #00FF00;
}

td.configerror {
    color: #000000;
    background: #FF0000;
}

th.configsection {
    text-align: left;
}

fieldset.searchform {
    border-width: 3px;
	 border-color: #ff9500;
    padding: 1em;
    background-color: #EEE;
    margin-left: auto;
    margin-right: auto;
	 margin-bottom: 1em;
}

legend.searchform {
    font-weight: bold;
    font-size: smaller;
    color: #DDD;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

input#searchfield {
	width: 150px;
}

input#searchsubmit {
    margin-left: 2em;
}

table#searchoptions {
    width: 100%;
    border: 0px;
    margin-top: 1em;
}

ul#navigation {
    text-align: center;
    margin: 0;
    padding: 0;
}

ul#navigation li {
    list-style: none;
    display: inline;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

ul#navigation li.double {
    width: 50%;
}

ul#navigation a {
    margin-left: auto;
    color: #444;
    text-decoration: none;
}

ul#navigation a:hover {
    color: #AAA;
}

pre#lyric {
    font-family: sans-serif;
}
