body {
  background-color: #111111;
  color: #08c0e0;
}

a { 
  color: #08c0e0;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: #04b4f4;
}

a.dir {
  color: #08c0e0;
}

a.dir2 {
  color: #1080A0;
}

a.file {
  color: #FFCC00;
}

a.file2 {
  color: #ff8800;
}

a.playlist {
  color: #ff7700;
}

a.playlist2 {
  color: #ff5500;
}

b.dir {
  color: #08c0e0;;
}

b.dir2 {
  color: #1080A0;
}

span.blacklisted {
  color: #FF0000;
  font-weight: bold;
}

.file {
  color: #FFCC00;
  font-weight: bold;
}

.file2 {
  color: #ff8800;
  font-weight: bold;
}

input {
  background-color: #222222;
  color: #08c0e0;
  border-color:#000000;
}

select {
  background-color: #222222;
  color: #08c0e0;
  border-color:#000000;
}

td.fileinfo {
  padding-top:10px;
  padding-bottom:10px;
}

td.fileinfoimage {
  text-align:right;
  padding-left:10px; 
  padding-right:0px; 
  padding-top:0px;
}

td.playlists {
  text-align: center;
}

p.configdescription {
  width: 30em;
  margin-bottom: 2em;
}

img {
	border: 0
}
