body {
  background-color: #111111;
  color: #08c0e0;
}

a { 
  color: #08c0e0;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: #04b4f4;
}

a.file {
  color: #FFCC00;
}

a.file2 {
  color: #ff8800;
}

a.playlist {
  color: #ff7700;
}

a.playlist2 {
  color: #ff5500;
}

p.blacklisted {
  color: #FF0000;
  font-weight: bold;
  text-align: center;
}

.file {
  color: #FFCC00;
}

.file2 {
  color: #ff8800;
}

input {
  background-color: #222222;
  color: #08c0e0;
  border-color:#000000;
}
